<!DOCTYPE html>
<html>
<head>
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%- css('css/style.css') %>
  <%- css('mdl/material.min.css') %>
  <%- js('mdl/material.min.js') %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="hexo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
      <%- body %>
    </main>
  <div class="mdl-layout__obfuscator"></div>
</body>
</html>
